<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mq1">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ThisIsFragmentPlayGame"></activity>
        <activity
            android:name=".TittleGame"
            android:theme="@style/TitleGame" />
        <activity
            android:name=".CreateQuestions"
            android:theme="@style/Create" />
        <activity
            android:name=".CreateQuiz"
            android:theme="@style/Create" />
        <activity android:name=".MainLenta" />
        <activity android:name=".Login" />
        <activity android:name=".ChangeSettingsProfile"></activity>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>